/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 2rem;
}

p {
	font-size: 1.2rem;
	line-height: 1.4rem;
}

/* Container Banner */

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-color: black;
	/* background-image: url("images/backgroundOld.jpg");
	background-repeat: no-repeat;
	background-size: cover; */
	padding: 1rem;
}

/* Banner Logo */

.section {
	border: 2px double black;
	height: 100%;
}

.container h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	color: white;
}

.container image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 30vw;
}

.section .intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: opacityFade 5s;
}

.intro .logo {
	height: 150px;
}

.intro p {
	margin: 2rem 0;
	color: white;
	font-size: 1.2rem;
	text-align: center;
}

.section .pointer {
	height: 100px;
	position: absolute;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	animation: bounce 1s infinite;
}

.section .fancy-border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-54%);
	width: 50vw;
	animation: opacityFade 5s;
}

@keyframes opacityFade {
	0%		{ opacity: 0; }
	30%		{ opacity: 0; }
	100%	{ opacity: 100; }
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/* Map location */

.map {
	background-color: black;
	/* background-image: url("images/mapTest1.png");
	background-repeat: no-repeat;
	background-size: cover; */
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 50;
}

.wrapper {
	position: relative;
}

.container-small {
	position: relative;
	min-width: 300px;
	width: 25vw;
	max-width: 500px;
	/* height: 300vh; */
	left: 70vw;
	top: -80vh;
	background-color: #EDEDED;
	padding: 2rem;
	z-index: 100;
	box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
}



video {
	height: 100%;
	width: 100%;
}

h2 {
	font-size: 2rem;
	color: black;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	color: black;
	margin-bottom: 1rem;
}

.thema {
	margin-bottom: 4rem;
}

.krakers-beweging {
	margin-bottom: 2rem;
}

.non-click {
	position: absolute;
	display: inline-block;
	height: 100%;
	top: 0;
	left: 70vw;
	width: 30vw;
	background-color: transparent;
	z-index: 51;
}

.last-part {
	z-index: 51;
	background-color: #cbc3b2;
}

.last-part h2 {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}

.map3d {
	background-color: black;
	/* background-image: url("images/mapTest1.png");
	background-repeat: no-repeat;
	background-size: cover; */
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 52;
}

.break-point {
	margin-top: 1rem;
	width: 100%;
}

.title.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title.flex h2 {
	width: 80%;
	margin: 0;
}

.title.flex img {
	width: 15%;
	padding: 4px;
	padding-top: 2px;
}
